html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: #33102a; /* color del universo */;
}

#map {
    width: 100%;
    height: 100%;
}

#stars {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: transparent;
}

#stars::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    background-image: radial-gradient(white 1px, transparent 1px);
    background-size: 3px 3px;
    opacity: 0.4;
}

.title {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 64px;
    font-family: "Engagement", cursive;
    z-index: 10;
    pointer-events: none;
}